/* Fonts */
@font-face {
    font-family: 'ProximaNova_bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova_reg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.reg() {
  font-family: 'ProximaNova_reg', sans-serif;
}
.bold() {
  font-family: 'ProximaNova_bold', sans-serif;
}

/* Colors */
@btn-color: #fab102;
@icons-color: #45b613;
@text: #1a1820;
@danger: #ff0000;
@bg-light: #f5f5f5;
@light: white;
@border-input: #dddddd;

 /*Basic settings */
 html {
  font-size: 10px;
 }
 body {
  .reg();
 }
 a {
  &:hover {
    text-decoration: none;
  }
 }
 button, input, a, textarea {
  &:focus {
    outline: none;
  }
 }
 .button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: @btn-color;
  color: @light;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    background-color: lighten(@btn-color, 15%);
   }
 }
  
 /* Typography */
 section {
  padding: 10rem 0;
 }
 .section-header {
  &_light {
    color: @light;
  }
  h2 {
    .bold();
    font-size: 3.5rem;
  }
  p {
    font-size: 1.7rem;
  }
  text-align: center;
  margin: 0.5rem 0 7rem;
  }

 /* Main */
  .main {
    padding: 3rem 0 5rem;
    background: #fff url(../img/main-bg.jpg) center center no-repeat;
    background-size: cover;
    &-content {
      margin-top: 14rem;
      /* Заголовок */
      h1 {
        margin-bottom: 4rem;
        font-size: 4rem;
        .bold();
        text-transform: uppercase;
        line-height: 1.45;
      }
    }
    /* Подзаголовок */
    &-subtitle {
      margin-bottom: 4rem;
      font-size: 2.4rem;
    }
    /* Зеленый ярлык */
    span {
      display: inline-block;
      padding: 2rem 4rem;
      color: @light;
      background-color: @icons-color;
      font-size: 1.8rem;
      text-align: center;
      /* Цифра 300 */
      strong {
        font-size: 3rem;
        .bold();
      }
    }
    /* Оплата по факту */
    &-trigger {
      display: block;
      font-size: 2rem;
      text-transform: uppercase;
      margin-top: 2.5rem;
      .bold();
    }
    /* Главная форма */
    &-form {
      background-color: @light;
      padding: 4rem 4rem;
      text-align: center;
      &-header {
        margin-bottom: 4rem;
        font-size: 1.8rem;
        strong {
          font-size: 1.9rem;
        }
      }
      // Поле для ввода
      &-input {
        display: block;
        border: 1px solid @border-input;
        border-radius: 5px;
        width: 100%;
        padding: 1.5rem;
        margin: 2rem 0;
      }
      // Подписи к полям
      label {
        display: inline-block;
        padding: 0.5rem;
        font-size: 1.5rem;
        .bold();
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: @light;
      }
      /* Кнопка отправить заявку */
      &-btn {
        display: block;
        height: 5rem;
        width: 100%;
        font-size: 1.5rem;
      }
      /* Подпись под кнопкой */
      small {
        display: block;
        margin-top: 1.5rem;
        font-size: 1.1rem;
      }
    }
  }
  .header {
    height: 7rem;
  }
  .wrap {
    display: table;
    width: 100%;
    height: 7rem;
    &-block {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
    }
  }
  .phone {
    &-block {
      font-size: 1.5rem;
      text-align: right;
    }
    &-link {
      display: inline-block;
      .bold();
      font-size: 2rem;
      height: 7rem;
      line-height: 7rem;
      color: @text;
    }
  }

  /* Оформление секции с преимуществами */
  .features {
    &-block {
      text-align: center;
      h3 {
        font-size: 2rem;
        .bold();
        margin-bottom: 2rem;
      }
      p {
        display: inline-block;
        width: 80%;
        font-size: 1.4rem;
      }
    }
    &-img {
      height: 8rem;
      margin-bottom: 3rem;
      img {
      display: block;
      margin: 0 auto;
      }
    }
  }
  .slick-active {
    outline: none;
  }
  .arrow {
    top: 50px;
    transform: translateY(-50%);
    position: absolute;
    z-index: 99;
    width: 2rem;
    height: 2rem;
    border: none;
  }
  .prev {
    background: url(../img/left-arrow.svg) center no-repeat;
    left: 0;
    background-size: 70%;
  }
  .next {
    background: url(../img/right-arrow.svg) center no-repeat;
    right: 0;
    background-size: 70%;
  }

  /* Секция с ценами */
  .price {
    background: @icons-color url(../img/prices/prices-bg.jpg) repeat center;
    &-header-btn {
      margin-top: 2.5rem;
    }
    &-btn {
      text-align: right;
    }
    &-block {
      padding: 1rem 3rem 2.5rem;
      min-height: 50rem;
      background-color: @light;
      box-shadow: 7px 12px 21px 0 rgba(0,0,0,0.17);
      text-align: center;
      h4 {
        margin: 3rem 0;
        font-size: 1.9rem;
        .bold();
      }
      img {
        display: inline-block;
        margin-bottom: 2rem;
        width: 100%;
        max-width: 30rem;
      }
    }
    &-tag {
      display: block;
      margin: 2rem 0;
      font-size: 1.9rem;
      .bold();
    }
    &-list {
      min-height: 14rem;
      line-height: 1.6;
      list-style: none;
      padding: 0;
      font-size: 1.6rem;
      li {
        &:before {
          content: '';
          display: inline-block;
          width: 1.4rem;
          height: 2.4rem;
          background: url(../img/prices/checked.svg) no-repeat center;
          background-size: 100%;
          vertical-align: middle;
          margin-right: 1rem;
        }
      }
    }
  }

  /* Секция с отзывами */
  .feedback {
    background: url(../img/feedback/feedback-bg.jpg) no-repeat center;
    background-size: cover;
    &-prev-btn {
      left: -4rem;
    }
    &-next-btn {
      right: -4rem;
    }
    &-text {
      margin-top: 2rem;
      font-style: italic;
      padding: 1rem;
      border: 2px solid @icons-color;
      position: relative;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -2rem;
        left: 4rem;
        width: 2rem;
        height: 2rem;
        background-color: @light;
        border: 2px solid @icons-color;
        border-bottom: none;
        border-top-right-radius: 100px;

      }
    }
    &-slider {
      padding: 5rem 6rem;
      background-color: @light;
      box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
      .media {
        margin-top: 3rem;
        font-size: 1.4rem;
        &-left {
          margin-right: 1.5rem;
        }
        h4 {
          .bold();
        }
      }
      p {
        font-size: 1.6rem;
      }
      &-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 4rem;
        height: 5rem;
        background-color: @icons-color;
        border: none;
        img {
          width: 50%;
        }
      }
    }
  }

  /* Оформление всплывающих окон */
  .popup {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0,0,0,0.5);
    &-content {
      position: fixed;
      left: 50%;
      top: 10%;
      background-color: @light;
      transform: translateX(-50%);
      padding: 5rem 8rem;
    }
    &-form {
      margin-top: 3rem;
      padding: 0;
    }
    &-close {
      position: absolute;
      top: -1.5rem;
      right: -2rem;
      width: 2rem;
      text-align: center;
      border: none;
      background-color: transparent;
      font-size: 3rem;
      color: @light;
    }
    &-content {
      text-align: center;
    }
    &-header {
      .bold();
      font-size: 2rem;
    }
  }

  @media (max-width: 991px) {
    .main {
      background-position: top right;
    }
    .phone-block {
      text-align: center;
    }
    .main-content {
      margin-top: 3rem;
    }
    .main-title {
      text-align: center;
      padding-bottom: 3rem;
    }
    .price {
      &-btn {
        text-align: center;
        padding: 2rem 0;
      }
      &-header-btn {
        margin-bottom: 0;
      }
      &-block {
        margin-top: 2rem;
      }
      .section-header_light {
        margin-top: 0;
        margin-bottom: 2rem;
      }
    }
  }

  @media (max-width: 767px) {
    .main {
      background-position: top left;
    }
    .main-content {
      margin-top: 15rem;
    }
    .header {
      text-align: center;
    }
    .wrap-block {
      text-align: center;
    }
  }

  @media (max-width: 575px) {
    .main-content h1 {
      font-size: 2rem;
    }
  }

